.date_Input{
	background-color: #EEEEEE;
	border: 1px solid #cccccc;
	border-radius: 6px 0 0 6px;
	padding-left: 8px;
	overflow: hidden;
    min-width: 90px;
    min-height: 26px;
}

.form-control{
	padding:4px;
}

.date_Container_error{
	border: 1px solid red;
    box-shadow: 0 0 1px red;
    border-radius: 7px;
}

.date_ErrorMsg{
	color: red;
    word-wrap: break-word;
    padding: 10px;
    display: none;
    position: absolute;
	background-color: white;
	opacity: 0.8;
	top: 2px;
	height: auto;
	border: 1px solid #D4D4D4;
	border-radius: 6px;
	left: 0;
}