<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	</head>
	<body>
		<div style="position:absolute;left: 100px;top: 100px; ">
			<div class="select_Container" style="width:280px;height:28px;border:1.5px solid #D4D4D4;border-radius:6px;cursor: pointer;">
				<div class="select_Content" style="width: 240px;float: left;min-width: 70px;height: 28px;padding-left:3px;">
					<input class="select_Input" style="width: 247px;height: 28px; background-color: transparent; border: none;min-width: 40px;font-size: 12px;padding-left: 5px;font-family: '微软雅黑';cursor: pointer;" value="111111" readonly>
				</div>
				<div class="select_btn" style="width: 28px;height: 28px;float: right;border-left: 1px solid #D4D4D4;cursor: pointer;">
					<div class="select_btn_arrow" style="border:7px solid transparent;width:0;height:0;border-top-color: #646464;margin: 11px auto;"></div>
				</div>
			</div>

			<div class="select_itemBox" style="width:130px" >
				<ul>
					<li data-index="0" data="1">
						<div class="select_item_0" style="width:115px">张三</div>
					</li>
					<li data-index="0" data="2">
						<div class="select_item_1" style="width:115px ">李四</div>
					</li>
					<li data-index="0" data="3">
						<div class="select_item_2" style="width:115px ">王五</div>
					</li>
				</ul>
			</div>



			<div class="select_itemBox" style="position: relative;background-color: white;opacity: 0.8;width: 280px;top: 2px;height: auto;border: 1px solid #D4D4D4;border-radius: 6px;" >
				<ul style="list-style: none;margin: 5px 0 0 0;padding: 0;">
					<li data-index="0" data="152" style="position: relative;height: 22px;line-height: 22px;">
						<div class="select_item_0" style="width:290px;margin-left: 5px;height: 100%;border: 1px solid transparent;border-radius: 3px;padding-left: 5px;cursor: pointer;">
							李四
						</div>
					</li>
					<li data-index="1" data="152" style="position: relative;height: 22px;line-height: 22px;">
						<div class="select_item_1" style="width:290px">
							王五
						</div>
					</li>
					<li data-index="2" data="152" style="position: relative;height: 22px;line-height: 22px;">
						<div class="select_item_2" style="width:290px">
							赵六
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript">
	    window.onload = function(){
	    	
	    }
	</script>
</html>