.ObjectSelector_Container {
	border:1px solid #D4D4D4;
	border-radius: 3px;
	width: 100%;
    height: 26px;
    cursor: pointer;
}

.ObjectSelector_disabled{
	cursor: not-allowed;
}

.ObjectSelector_Container .ObjectSelector_Content{
	float: left;
	min-width: 89px;
	height: 26px;
	padding-left:2px;
}

.ObjectSelector_Container .ObjectSelector_Content .ObjectSelector_Input{
	height: 24px;
    background-color: white;
    border: none;
    min-width: 89px;
    font-size: 12px;
    padding-left: 5px;
    font-family: "微软雅黑";
}

.ObjectSelector_Container .ObjectSelector_Content .ObjectSelector_Error {
	background-position:center center;
	background-image: url("images/del.png");
	background-repeat:no-repeat;
	height: 26px;
	width: 28px;
	float: right;
}

.ObjectSelector_Container .ObjectSelector_btn{
	width: 26px;
	height: 26px;
	background-image: url("images/btn.png");
	float: right;
}

/*下方带出数据*/
.ObjectSelector_Selection{
	width: 100%;
	min-height: 177px;
	font-size: 12px;
	opacity: 0.9;
	z-index: 999999;
	position: relative;
}

.ObjectSelector_Sel_Arror{
	float: left;
	width: 100%; 
	height: 7px; 
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content{
	width: 100%;
	border:1px solid #D4D4D4;
	border-radius: 3px;
	min-height:170px;
	float: left;
    background-color: white;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Top{
	width: 100%;
	border-bottom: 1px solid #D4D4D4;
	height: 45px;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Top .ObjectSelector_Sel_Key{
	float: left;
	width:50px;
	text-align: center;
	font-size: 12px;
	line-height: 45px; 
	margin-left: 10px;
	overflow: hidden;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Top .ObjectSelector_Sel_SearchInput{
	float: left;
	height: 24px;
	line-height: 24px;
	background-color: white;
    border: solid #D4D4D4 1px;
    border-radius: 7px;
    min-width: 89px;
    font-size: 12px;
    padding-left: 5px;
    font-family: "微软雅黑";
    margin-top: 9px;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Top .ObjectSelector_Sel_SearchBtn{
	float: right;
	width: 48px;
	height: 24px;
	text-align: center;
	background-color: #F4F4F4;
	border:1px solid #D4D4D4;
	border-radius: 3px;
	margin-right:14px;
	margin-top: 10px;
	font-size: 12px;
	cursor: -webkit-zoom-in;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle{
	height: 170px;
	overflow-y: auto;
	overflow-x: hidden; 
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle ul{
	list-style: none;
	margin: 5px 0 0 0;
    padding: 0;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle li{
	position: relative;
	height: 22px;
	line-height: 22px;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle .ObjectSelector_item{
	margin-left: 5px;
	width:325.97px;
	height: 100%;
	border:1px solid transparent;
	border-radius: 3px;
	padding-left: 5px;
	cursor: pointer;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle .ObjectSelector_item .ObjectSelector_checkBox{
	float: left;
    margin: 5px 5px 0 5px;
    cursor: pointer;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle .ObjectSelector_item:hover{
	border-color: #F29312;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Middle .ObjectSelector_item [class ^="ObjectSelector_item_"] {
	float: left;
	text-align: left;
	width: 40%;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Buttom{
	width: 100%;
	border-top: 1px solid #D4D4D4;
	height: 45px;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Buttom .ObjectSelector_Sel_SubmitBtn{
	width:60px;
	height: 24px;
	border:1px solid #3A97E6;
	border-radius: 3px;
	background-color: #419EEE;
	color: white;
	font-size: 12px;
	float: left;
	margin-left: 30%;
	margin-top: 9px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

.ObjectSelector_Selection .ObjectSelector_Sel_Content .ObjectSelector_Sel_Buttom .ObjectSelector_Sel_CancelBtn{
	width:60px;
	height: 24px;
	border:1px solid #D4D4D4;
	border-radius: 3px;
	background-color: #EDEDED;
	color: white;
	font-size: 12px;
	float: left;
	margin-left: 10%;
	margin-top: 9px;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
}

